.loading {
  position: fixed;
  inset: 0;
  background: var(--secondary-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: auto;
}
.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(5);
  transition: 1s;
}
.container-loading {
  position: relative;
  width: 100%;
  transform: rotate(-35deg);
}
.box-load {
  position: relative;
  left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 300px);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(var(--rgb-secondary-color) / 40%));
  animation: animate-surface 1.5s ease-in-out infinite;
}
@keyframes animate-surface {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-150px);
  }
}
.box-load .cube {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  box-shadow: 0 0 5px rgba(var(--rgb-main-color) / 100%),
  0 0 25px rgba(var(--rgb-main-color) / 100%),
  0 0 50px rgba(var(--rgb-main-color) / 100%),
  0 0 100px rgba(var(--rgb-main-color) / 100%),
  0 0 200px rgba(var(--rgb-main-color) / 50%),
  0 0 300px rgba(var(--rgb-main-color) / 50%);
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(90deg);
  }
  65% {
    transform: rotate(85deg);
  }
  70% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(87.5deg);
  }
  80%, 100% {
    transform: rotate(90deg);
  }
}