.settings-box {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  width: 70px;
  z-index: 99;
  min-height: 100vh;
  transition: var(--section-transition);
  transform: translateX(-70px);
}
.settings-box .gear {
  position: absolute;
  right: -40px;
  top: 70px;
  background-color: #000;
  color: #fff;
  width: 40px;
  text-align: center;
  box-shadow: 0 2px 10px var(--main-color);
  font-size: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}
.settings-box .gear svg {
  transform: rotate(0deg);
  transition: var(--main-transition);
}
.settings-box .gear:hover svg {
  transform: rotate(180deg);
  color: #ccc;
}
.move-open {
  transform: translateX(0) !important;
}
.settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
}
.settings-container h4 {
  font-size: 0.9rem;
  margin-bottom: 8px;
}
.settings-container .modes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 18px;
}
.settings-container .modes li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(120deg, var(--color-mode), #1e1e1e);
  box-shadow: 0 0 20px var(--color-mode);
  transition: var(--main-transition);
  cursor: pointer;
}
.settings-container .modes li:hover,
.settings-container .modes li.active {
  transform: scale(1.25);
}
@media(max-width: 767px) {
  .settings-box .gear {
    top: 100px;
  }
}