@property --r {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@property --x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}
.main-title {
  position: relative;
  border-radius: 50px;
  padding: 2px;
  background: conic-gradient(
  from calc(var(--r) - 80deg) at var(--x) 30px,
  #222 0%,
  var(--main-color) 15%,
  var(--text-color-therd) 20%
  );
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: visible;
  border: none;
  animation: rotateBorder 3s linear infinite, sweepx 3s linear infinite;
  transition: background 1s ease;
  margin: 0 auto 80px;
}
.main-title:hover {
  background: conic-gradient(
  from calc(var(--r) - 80deg) at var(--x) 30px,
  var(--main-color) 100%,
  var(--text-color-therd) 20%
  );
  animation-play-state: paused;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  --r: 0deg;
  background: conic-gradient(
  from calc(var(--r) - 80deg) at var(--x) 30px,
  #222 0%,
  var(--main-color) 15%,
  var(--text-color-therd) 20%
  );
  animation:  rotateBorder 3s linear infinite, sweepx 3s linear infinite;
  filter: blur(15px);
}
.main-title:hover::after {
  background: conic-gradient(
  from calc(var(--r) - 80deg) at var(--x) 30px,
  var(--main-color) 0%,
  var(--main-color) 15%,
  var(--main-color) 20%
  );
  animation-play-state: paused;
}
.inner-main-title {
  background: #000;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.3s ease;
  pointer-events: none;
}
.main-title:hover .inner-main-title {
  color: var(--main-color);
  text-shadow: 0 0 15px var(--main-color),
  0 0 40px var(--main-color);
}
.inner-main-title::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--z);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--main-color), transparent,
  transparent);
  width: 140px;
  height: 140px;
  opacity: 0;
  z-index: 9;
  transition: 0.5s, top 0s, left 0s;
}
.main-title:hover .inner-main-title::before {
  opacity: 0.8;
}
@keyframes rotateBorder {
  0% {
    --r: 0deg;
  }
  32.8% {
    --r: 0deg;
  }
  50% {
    --r: 180deg;
  }
  82.8% {
    --r: 180deg;
  }
  100% {
    --r: 360deg;
  }
}
@keyframes sweepx {
  0% {
    --x: 15px;
  }
  32.8% {
    --x: 230px;
  }
  50% {
    --x: 230px;
  }
  82.8% {
    --x: 15px;
  }
  100% {
    --x: 15px;  
  }
}